@import "tailwindcss";

@source "../../../node_modules/flowbite-react";

@theme {
  /* Custom fonts */
  --font-raleway: var(--font-raleway);
  --font-montserrat: var(--font-montserrat);
  --font-open-sans: var(--font-open-sans);

  /* Container */
  --container-padding: 1.5rem;

  /* Custom background images */
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

/* Container centered by default */
@utility container {
  margin-inline: auto;
  padding-inline: var(--container-padding);
}
